<h6 class="description_title">The purpose of the IQ test</h6>
<div class="description_text">The IQ test can be used for many reasons. It allows determining one's level of being able
    to learn, to understand, to form concepts, to process information,
    to apply logic and reason, in comparison to the population. It is indicative and can represent an influence on
    non-common characters that can be encountered in society,
    whether relational such as isolation, rejection or distance, or intellectual such as ease or difficulties
    encountered in intellectual activities. In another way,
    it can also explain successes acquired in ways easier than others by individuals.</div>

<h6 class="description_title">The effectiveness of this test</h6>
<div class="description_text">The IQ test we offer is used internationally by millions of users and new users take it
    every day.
    The statistics provided and established by the totality of the results
    make it possible to verify its reliability in relation to the calibration IQ scale system represented
    by the Gauss Curve.</div>

<h6 class="description_title">The mental handicap</h6>
<div class="description_text">People with very low intellectual quotients ( &lt; 70 ) are defined as holders of a mental
        disability disorder and may experience, despite the intensity of work, more difficulty than others in
        intellectual activities and may also maintain, in spite of themselves, difficulties in social behaviours despite
        the strength of their will. The main causes that may explain the development of this disability would be
        nutritional problems during pregnancy or birth problems, such as a lack of oxygen. Exposure to certain diseases,
        such as whooping cough or measles, with delayed care could also explain the mental disability.
</div>