<!-- TODO: Add form validation -->

<h2>Congratulations, you have just completed the test!</h2>
<p>To build your result and statistics (IQ score, age range, field of study and level of study), please fill out this
    form:</p>
<p>{{ countryName }}</p>
<p>{{ countryCode }}</p>
<img class="flagimages" src={{countryFlagLink}}>
<div class="container">
    <form #userInfoForm="ngForm" (ngSubmit)="onSubmitClicked(userInfoForm);">
        <div class="form-group">
            <label>Pseudonym</label>
            <input placeholder="Enter Pseudonym" name="pseudonym" [(ngModel)]="pseudonym" ngModel required>
        </div>
        <div class="form-group">
            <label>Email address</label>
            <input placeholder="Enter email" name="emailAddress" [(ngModel)]="emailAddress" ngModel required>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label>Gender</label>
            <select name="gender" [(ngModel)]="gender" ngModel>
                <option value=""></option>
                <option value="man">Man</option>
                <option value="woman">Woman</option>
            </select>
        </div>
        <div class="form-group">
            <label>Birth year</label>
            <select name="birthYear" [(ngModel)]="birthYear" ngModel>
                <option *ngFor="let year of birthYears();" [value]="year">{{year}}</option>
            </select>
        </div>
        <div class="form-group">
            <label>Study field </label>
            <select name="studyField" [(ngModel)]="studyField" ngModel>
                <option value=""></option>
                <option value="agriculture">Agriculture</option>
                <option value="architecture">Architecture and urbanism</option>
                <option value="art">Art and design</option>
                <option value="business">Commercial and management</option>
                <option value="education">Education</option>
                <option value="engineering">Engineering and technology</option>
                <option value="geography">Geography and geology</option>
                <option value="humanities">Letters and culture</option>
                <option value="languages">Languages ​​and philology</option>
                <option value="law">Law</option>
                <option value="maths">Math and Computer Science</option>
                <option value="medical">Medical sciences</option>
                <option value="natural">Natural Sciences</option>
                <option value="social">Social sciences</option>
                <option value="com">Communication and information</option>
            </select>
        </div>
        <div class="form-group">
            <label>Education Level</label>
            <select name="educationLevel" [(ngModel)]="educationLevel" ngModel>
                <option value=""></option>
                <option value="0">No diploma</option>
                <option value="1">High school diploma</option>
                <option value="2">2 years studies degree</option>
                <option value="3">3 years studies degree</option>
                <option value="4">4 years studies degree</option>
                <option value="5">5 years studies degree</option>
                <option value="6">more than 5 years studies degree</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Validate</button>
    </form>
</div>