<div class="iq-test">
    <h5 class="test_title">International IQ test</h5>
    <div class="test_text">Welcome to the international IQ test.</div>
    <div class="test_text font-weight-bold">Before starting the test, make sure you are in a place where you can focus.</div>
    <div class="test_text">We will evaluate, through 40 questions, your ability to learn, to understand,
    to form concepts, to process information, and to apply logic and reason.</div>
    <div class="test_text">Your result at the end of this test will inform you of your IQ as well as
    your position in comparison to the population using several statistics.*</div>

	  <div class="text-center">
      <button type="button" class="btn btn-light startbutton" (click)="onTestStart()">Start the test</button>
	  </div>
</div>
