<div *ngIf="!imageSrc; else elseBlock" class="bigcanvas container">
    <h5 class="test_title">{{ title }}</h5>
    <div class="test_text">{{ introduction }}</div>
    <div class="text-center">
        <button type="button" class="btn btn-light startbutton" (click)="onClickStartTesting()">{{ buttonText }}</button>
    </div>
</div>

<ng-template #elseBlock>
    <div class="bigcanvas container">
        <h5 class="test_title">Choose the missing figure.</h5>
        <div class="row">
            <div class="col-3">
            </div>
            <img class="images" src="{{imageSrc}}">
        </div>
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-3" (click)="onClick(1)">
                a.<img class="optionimages" src="static/assets/ex1_a.png">
            </div>
            <div class="col-3" (click)="onClick(2)">
                b.<img class="optionimages" src="static/assets/ex1_b.png">
            </div>
            <div class="col-3" (click)="onClick(3)">
                c.<img class="optionimages" src="static/assets/ex1_c.png">
            </div>
        </div>
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-3" (click)="onClick(4)">
                d.<img class="optionimages" src="static/assets/ex1_d.png">
            </div>
            <div class="col-3" (click)="onClick(5)">
                e.<img class="optionimages" src="static/assets/ex1_e.png">
            </div>
            <div class="col-3" (click)="onClick(6)">
                f.<img class="optionimages" src="static/assets/ex1_f.png">
            </div>
        </div>
    </div>
</ng-template>