.bigcanvas{
  background-color: #FFFCF1;
  height: auto;
}

 .test_title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.test_text{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  white-space: pre-line;
}

.startbutton{
  margin-top: 10px;
  margin-bottom: 30px;
  background-color: #EFEFEF;
}

.images {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.optionimages{
    width: 100%;
}

