.container {

    height: 1500px;
}

.left-side-container {
    float: left;
    border-style: solid;
    width: 30%;
    margin: 5px;
    height: 800px;
}

.right-side-container {
    float: right;
    border-style: solid;
    width: 60%;
    margin: 5px;
    height: 1200px;
}